@import "../lib.scss";

._search {

    padding: 100px 0; background: #00000d; min-height: calc(100vh - 80px - 196px);

    .title {

        color: #fff; font-size: rem(32); font-weight: bold;

        span {
            font-weight: 500; font-size: rem(20); display: block; margin-top: rem(15);
        }

    }

    .grid {
        margin-top: rem(75); display: grid; grid-template-columns: repeat(4,1fr); gap: rem(80) rem(20);        
    }

    .found {
        text-align: center; font-size: 48px; color: #fff; font-weight: bold; margin-top: 100px;
    }


    @include max(820){

        padding: 80px 0;

        .grid {
            grid-template-columns: repeat(3,1fr); gap: rem(50) rem(15);
        }

    }

    @include max(480){

        .grid {
            grid-template-columns: repeat(2,1fr); gap: rem(50) rem(10);
        }

    }

}